<h2>Exercice 03 - Le chronomètre</h2>

<p style="font-weight: bold;">
	Créer une application qui permet de gérer un chronomètre. <br>
	Vous pouvez le démarrer, mettre sur pause et le reset. <br>
	<br>
	Astuce : cherchez du côté de setInterval() et du string Interpolation de Typescript <br>
</p>

<hr>

<p> Temps : {{ temps }}</p>
<button class="btn btn-secondary" (click)="start()">Start</button>
<button class="btn btn-secondary" (click)="stop()">Stop</button>
<button class="btn btn-secondary" (click)="reset()">Reset</button>

<br>
<br>
<a routerLink="">
	<button class="btn btn-primary">Home</button>
</a>