<h2>Exercice 04 - Toggle password</h2>

<p style="font-weight: bold;">
	Créer une application qui affiche un formulaire de connexion où l'utilisateur peut rendre visible son mot de passe
	ou non.
</p>

<input type="text" placeholder="Identifiant">
<input [type]="type" placeholder="Mot de passe">
<input type="checkbox" id="show" style="display: inline;" (input)="changeVisibility()">
<label for="show">Afiicher le mot de passe</label>

<a routerLink="">
	<button class="btn btn-primary">Home</button>
</a>